* {
	padding: 0;
	margin: 0;
}
body {
	display: grid;
	grid-template-columns: 1fr 500px 1fr;
	grid-template-rows: 50px 500px 50px 75px 1fr;
	background-color: #312E2B
}
.chessboard {
	display: grid;
	grid-row: 2/3;
	grid-column: 2/3;
	grid-template-columns: 4% 12% 12% 12% 12% 12% 12% 12% 12%;
	grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12% 4%;
}
.black {
	background-color: #769656;
}
.white {
	background-color: #EEEED2;
}
.margin-left {
	grid-row: 1/9;
	grid-column: 1/2;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	grid-template-columns: 100%
}
.margin-bottom {
	grid-row: 9/10;
	grid-column: 2/10;
	grid-template-rows: 100%;
	grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
.margin {
	background-color: #312E2B;
	align-items: center;
	text-align: center;
	display: grid;
}
.margin div {
	font-family: sans-serif;
	text-transform: uppercase;
	color: white;
}
.buttons {
	display: grid;
	grid-row: 4/7;
	grid-column: 2/3;
	grid-template-rows: 100%;
	grid-template-columns: 15% 5% 15% 5% 20% 5% 15% 5% 15%;
}
.button {
	background-color: #8F8F8F;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#rewind {
	grid-column: 1/2;
}
#stepback {
	grid-column: 3/4;
}
#playpause {
	grid-column: 5/6;
}
#stepforward {
	grid-column: 7/8;
}
#fastforward {
	grid-column: 9/10;
}
.fa-pause {
	margin-right: 5px
}
